#start {
    margin: 10px 
    }
    
#showHigh {
        margin: 10px
    }

#highs {
        margin: auto
    }

#highName {
        margin-left: -20px;
        margin-bottom: 10px;
    }
    
#high {
        margin-left: -5px;
    }

#next{
        margin-top: 15px
    }

#headRow {
    background-color: #17a2b8!important;
}

.pt-2, .p-1{
    color: white;
}

#mainBody {
    background-color: #f8f9fa!important;
    padding: 20px;
    padding-bottom: 70px;
}

html, body {
    background-color:#6c757d!important
}

#complete {
    color:#28a745!important;
}